#wrapper{
	position: relative;
	width: 750px;
	margin: auto;
}
.red{
	fill: #ba3a33;
	color: #ba3a33;
	float: right;
}
.blue{
	fill: #445e96;
	color: #445e96;
	float: left;
}
.open{
	fill: #c2b280;
	color: #c2b280;;
}
#wrapper svg{
	background-color: #cacaca;
}
.state-info{
	color: white;
	font-weight: bold;
	font-size: 12px;
}
.state{
	cursor: pointer;
}
#vote-bar-wrapper{
/*	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;*/
	width: 750px;
}
#color-bar{
	clear: both;
	color: white;
	text-align: center;
}
.bar{
	height: 25px;
}
#red-bar{
	background-color: #ba3a33;
	float: left;
}
#blue-bar{
	background-color: #445e96;
	float: left;
}
#open-bar{
	background-color: #c2b280;
	float: left;
}
ul{
	list-style-type: none;
}
ul .red{
	background-color: #ba3a33;
	color: white;
	float: none;
}
ul .blue{
	background-color: #445e96;
	color: white;
	float: none;
}
ul .open{
	background-color: #c2b280;
	color: white;
	float: none;
}
ul {
	color: black;
	text-decoration: none;
}
ul li{
	padding: 10px;
	float: left;
	margin-right: 5px;
}
.indv{
	border-radius: 5px;
	padding: 5px;
}
#states-needed-wrapper{
	clear: both;
}
#dem{
	color: #445e96;
	display: block;
}
#rep{
	color: #ba3a33;
	display: block;
	clear: both;
}
.needed-wrapper{
	border: 1px solid black;
	margin: 5px;
	clear: both;
}
.needed{
	float: left;
	margin: 5px;
}
