<!DOCTYPE html>
<html ng-app="imApp">
<head>
	<title>Interactive Map</title>

	<link rel="stylesheet" type="text/css" href="css/styles.css">
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script type="text/javascript" src="js/states-object.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>


</head>
<body ng-controller="imController">

	<div id="wrapper">
		<div id="vote-bar-wrapper">
			<div class="arrow top"></div>
			<div class="arrow bottom"></div>
			<h3 class="blue">Democrat</h3>
			<h3 class="red">Republican</h3>
			<div id="color-bar">
				<div id="blue-bar" class="bar blue-bar" ng-style="{'width':blueWidth}">{{blueStateVotes}}</div>
				<div id="open-bar" class="bar open-bar" ng-style="{'width':openWidth}">{{openStateVotes}}</div>
				<div id="red-bar" class="bar red-bar" ng-style="{'width':redWidth}">{{redStateVotes}}</div>

			</div>
		</div>


		<div id="map-wrapper">
			<svg width="750" height="500">
				<g ng-repeat="state in states" ng-click="stateClicked(state)">
					<path class="state {{state.stateColor}}" ng-attr-d="{{state.vector}}" stroke="white"></path>
					<foreignObject ng-attr-x="{{state.nameX}}" ng-attr-y="{{state.nameY}}">
						<div class="state-info">{{state.abbr}}<br>{{state.electoralVotes}}</div>
					</foreignObject>
				</g>
			</svg>
			<ul>
				<li ng-repeat="state in smallState" ng-click="stateClicked(state)"><span class="indv state {{state.stateColor}}">{{state.abbr}}:</span><span>  {{state.electoralVotes}}</span></li>
			</ul>
			<div id="states-needed-wrapper">
				<h3>States needed for 270 votes</h3>
				<div id="dem-states">
					<div id="dem">Democrats</div>
						<div class="needed-wrapper">
							<div ng-repeat="demState in demStates[0]">
								<div class="needed"> {{demState.name}}:  {{demState.electoralVotes}}, </div>
							</div>
						</div>
						<div class="needed-wrapper">
							<div ng-repeat="demState in demStates[1]">
								<div class="needed"> {{demState.name}}:  {{demState.electoralVotes}}, </div>
							</div>
						</div>
						<div class="needed-wrapper">
							<div ng-repeat="demState in demStates[2]">
								<div class="needed"> {{demState.name}}:  {{demState.electoralVotes}}, </div>
							</div>
						</div>
				</div>
				<div id="rep-states">
					<div id="rep">Republicans</div>
						<div class="needed-wrapper">
							<div ng-repeat="repState in repStates[0]">
								<div class="needed"> {{repState.name}}:  {{repState.electoralVotes}}, </div>
							</div>
						</div>
						<div class="needed-wrapper">
							<div ng-repeat="repState in repStates[1]">
								<div class="needed"> {{repState.name}}:  {{repState.electoralVotes}}, </div>
							</div>
						</div>
						<div class="needed-wrapper">
							<div ng-repeat="repState in repStates[2]">
								<div class="needed"> {{repState.name}}:  {{repState.electoralVotes}}, </div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>